.especies_dropdown{
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    margin-top: 20px;
}
.list_especies_dropdown{
    background: #23272b;
}
.item_especies_dropdown{
    font-family: "Times New Roman", Times, serif;
    color: rgb(27, 79, 85);
    font-weight: bold;
}
.item_especies_dropdown:hover {background: #1a1b1d}