<nav class="navbar bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand title" href="#">
            <span class="fa fa-home"></span>
            Bestiario
        </a>
        
        <div class="d-flex justify-content-end">
          
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success search_button" type="submit"> <span class="fa fa-solid fa-search"></span></button>
          </form>

        </div>
    </div>
</nav>
